{% extends "base.html" %} {% block title %}Leaderboard{% endblock %}{% block
content %}
<div class="container">
	<h1 class="title">Leaderboard</h1>
	<table class="leaderboard-table">
		<thead>
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ loop.index }}</td>
				<!-- Rank is the loop index -->
				<td>{{ user.first_name }}</td>
				<td>{{ user.points }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} {% block css %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/leaderboard.css') }}"
/>

{% endblock %}
